<!DOCTYPE html>
<html>
  <head>
    <title>Liste des categories</title>
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <a href="/">home</a>
    <a href="/games">games</a>
    <br />
    <h1>Liste des categories</h1>
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <strong><%= category.name %></strong>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
