<!DOCTYPE html>
<html>
  <head>
    <title>Liste des jeux</title>
    <link rel="stylesheet" href="/games.css" />
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <a href="/">home</a>
    <a href="/categories">categories</a>
    <h1>Liste des jeux</h1>
    <ul>
      <% games.forEach(game => { %>
        <li class="game-item">
          <strong><%= game.title %></strong> - <%= game.category_name %>
          (<%= game.platform %>)
          - Stock: <%= game.stock_quantity %>
        </li>
      <% }) %>
    </ul>
    <a href="/games/create">Create a game</a>
  </body>
</html>
