<!DOCTYPE html>
<html>
  <head>
    <title>Liste des jeux</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <a href="/games">games</a>
    <a href="/categories">categories</a>
    <br />
    <h1><%= message %></h1>
  </body>
</html>
